@tailwind base;
@tailwind components;
@tailwind utilities;

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
  }